$primary-color: #333;
$primary-font-size : 14px;
$background-color : #0046a3;
$btn-background : #0071bb;
$btn-button-redius : 7px;
$label-color : #99C6E4;
$label-weight : 400;
$foreground-color : #fff;


